body{
    background-image: url('imagens/fundo.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
}

.top-bar{
    width: 100%;
    height: 40px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    border-radius: 0px 0px 6px 6px;
    display: flex; justify-content: space-between; 
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    padding: 0 16px;
    box-sizing: border-box

}

.janela {
    display: none;
    position: absolute;
    top: 100px;
    left: 100px;
    width: 300px;
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    overflow: hidden;
}

.janela-cabeca {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 8px 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.janela-cabeca > :first-child {
    margin-right: auto;
    margin-left: auto;
}


.btn-fechar {
    background-color: rgb(124, 28, 28);
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px; 
    cursor: pointer;
}

.icone img {
    border-radius: 14px;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}

.icone {
    color: white;
    width: 80px;
    text-align: center;
    cursor: grab;
    position: absolute;
    touch-action: none;
}

#btn-calc     { top: 360px; left: 20px; }
#btn-clima    { top: 160px; left: 20px; }
#btn-notas    { top: 260px; left: 20px; }
#btn-bemvindo { top: 60px; left: 20px; }

#texto-notas {
    width: 100%;
    height: 120px;
    border: none;
    outline: none;
    background: transparent;
}

#texto-notas::placeholder{
    color: rgba(255, 255, 255, 0.6)
}